.services {
  text-align: center;
  padding: 40px 20px;
  min-height: 250px;
  background-color: #EBEEF3;
}

.services-title {
  font-size: 4rem;
  margin-bottom: 20px;
  color: rgb(14, 63, 86);
  margin: 50px ;
}

.services-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center ;
  gap: 100px;
}
span{
  color: rgb(2, 153, 199);
  font-size: 1.3rem !important;
  font-weight: 800 !important;

}
.service-card {

  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 10px;
  border: 2px solid #2d6a4f;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  text-align: center;
  min-width: 280px; 
  max-width: 350px;
  min-height: 400px;
}

.service-card:hover {
  background-color: rgb(14, 63, 86);;
  color: white;
  transform: translateY(-5px);
  border-color: #1b4332;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.service-card.active {
  background-color:rgb(14, 63, 86);;
  color: white;
  transform: scale(1.05);
}

.service-icon {
  font-size: 50px;
  margin-top: 20px;
  color: #2d6a4f;
  transition: color 0.3s ease-in-out;
}

.service-card:hover .service-icon {
  color: white;
}

@media (max-width: 1024px) {
  .service-card {
    flex: 1 1 calc(50% - 20px); 
  }
}

@media (max-width: 768px) {
  .service-card {
    flex: 1 1 100%; 
  }
}
h3{
  margin-top: 30px !important;
  font-size: 2rem !important;
  font-weight: 600 !important;

}
p{
  font-size: 1.2rem !important;
    font-weight: 700 !important;
    margin-top: 40px !important;
}